<div class="home-container">

  <div class="row m-0">
    <div class="col-12 col-md-8 p-0 pr-3">
      <h4>List of ALL Students preparing S-TFT4</h4>
      <div class="table-container">
        <app-dynamic-table [data]="studentData" [columns]="studentTableColumns"
          [columnDisplayList]="studentTableColumnsDisplay" [schoolCorrectingList]="schoolCorrectingOptions"
          (onChangeSchoolCorrecting)="changeSchoolCorrecting($event)" [crossCorrectorList]="crossCorrectorOptions"
          (onChangeCrossCorrector)="changeCrossCorrector($event)" [name]="'student'">
        </app-dynamic-table>
      </div>
    </div>
    <div class="col-12 col-md-4 p-0">
      <h4>List of All Schools S-TFT4</h4>
      <div class="table-container">
        <app-dynamic-table [data]="schoolData" [columns]="schoolTableColumns"
          [columnDisplayList]="schoolTableColumnsDisplay" [name]="'school'">
        </app-dynamic-table>
      </div>
    </div>
  </div>

</div>
