@import './styles/config';
@import './styles/material';

@import "~@ng-select/ng-select/themes/material.theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $clr_primary;
  color: $clr_light;
}

.mat-paginator-page-size {
  display: none !important;
}
.mat-paginator-container {
  background-color: $clr_primary;
  border: 1px solid #bebebe;
  color: $clr_light;
}

th.mat-header-cell, td.mat-cell {
  color: $clr_light;
  border: 1px solid #bebebe;
}

.table-container {
  .ng-value-container, .ng-clear-wrapper, span.ng-arrow {
    color: $clr_light;
  }
  .ng-clear-wrapper {
    color: $clr_light;
  }
  .ng-select-container {
    border-bottom: 1px solid $clr_light;
  }
  .ng-select .ng-arrow-wrapper .ng-arrow {
    color: $clr_light;
  }
  .ng-value-container .ng-value {
    padding-top: 5px;
  }
  .mat-form-field-infix {
    border-bottom: 1px solid $clr_light;
  }
  .mat-input-element.mat-form-field-autofill-control {
    &::placeholder {
      color: $clr_light;
    }
  }
  mat-label {
    color: $clr_light;
  }
  .mat-form-field-flex {
    max-width: 150px;
  }
}
