<ng-container *ngIf="data && columns">
  <div class="table-container">
    <table mat-table [dataSource]="data" class="mat-elevation-z8 w-100">
      <ng-container *ngFor="let column of columns; index as i" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef> {{ columnDisplayList[i].name }} </th>
        <td mat-cell *matCellDef="let element; index as j" class="pr-2">
          <ng-container [ngSwitch]="columnDisplayList[i].id_content">
            <ng-container *ngSwitchCase="1">
              {{ element[column] }}
            </ng-container>
            <ng-container *ngSwitchCase="2">
              <ng-select [(ngModel)]="element.school_correcting_id._id" (focus)="focusSchoolCorrecting(element)"
                (change)="changeSchoolCorrecting($event, j)">
                <ng-option *ngFor="let opt of filteredSchoolCorrecting" [value]="opt.school._id">
                  {{ opt.school.short_name }}
                </ng-option>
              </ng-select>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ element[column] }}
            </ng-container>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; let even = even;columns: columns;" [class.even]="even"></tr>
    </table>
  </div>
  <mat-paginator showFirstLastButtons [pageSize]="10" [length]="data.data.length"></mat-paginator>
</ng-container>
